body {
  font-size: 18px;
  line-height: 27px;
  font-family: Arial, sans-serif;
  color: #f7f4f1;
  font-style: normal;
  background-color: #292929;
  padding: 0;
  margin: 0;
}
html {
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.container {
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    width: 640px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 960px;
  }
}
.no-outline {
  outline: none;
  background: transparent;
}
.no-outline::before {
  display: none;
}
.page-header {
  min-height: 390px;
}
@media (min-width: 768px) {
  .page-header {
    position: relative;
    min-height: 70px;
    padding-bottom: 400px;
  }
}
@media (min-width: 1200px) {
  .page-header {
    padding-bottom: 650px;
  }
}
.page-header__logo {
  min-height: 85px;
  background: rgba(255, 255, 255, 0.4);
}
@media (min-width: 768px) {
  .page-header__logo {
    position: absolute;
    bottom: 0;
    height: 400px;
    width: inherit;
  }
}
@media (min-width: 1200px) {
  .page-header__logo {
    position: absolute;
    bottom: 0;
    height: 650px;
    width: inherit;
  }
}
.main-nav {
  min-height: 310px;
}
.main-nav__items,
.main-nav__item {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-nav__item {
  height: 52px;
}
.main-nav__login {
  height: 50px;
}
@media (min-width: 768px) {
  .main-nav {
    min-height: 70px;
    width: 320px;
    margin: 0 auto;
  }
  .main-nav::after {
    content: "";
    display: table;
    clear: both;
  }
  .main-nav__items {
    float: left;
    width: 570px;
    margin-right: 10px;
    min-height: 70px;
  }
  .main-nav__login {
    float: right;
    width: 60px;
    min-height: 70px;
  }
  .main-nav__item {
    height: 0;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .main-nav {
    width: 640px;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .main-nav {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .main-nav__items {
    width: 780px;
  }
  .main-nav__login {
    width: 170px;
  }
}
.stats {
  width: 320px;
  margin: 0 auto;
  min-height: 560px;
}
@media (min-width: 768px) {
  .stats {
    width: 640px;
  }
}
@media (min-width: 1200px) {
  .stats {
    width: 960px;
  }
}
.stats__header {
  min-height: 182px;
  background-color: white;
}
.stats__items {
  background-color: #f8f5f2;
  min-height: 320px;
  padding-top: 28px;
  padding-left: 38px;
  padding-right: 38px;
  padding-bottom: 26px;
  width: auto;
}
@media (min-width: 768px) {
  .stats {
    margin-top: -184px;
    min-height: 502px;
    position: relative;
    z-index: 1;
  }
  .stats__header {
    min-height: 184px;
  }
  .stats__items {
    min-height: 318px;
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .stats {
    margin-top: -159px;
    min-height: 318px;
  }
  .stats::after {
    content: "";
    display: table;
    clear: both;
  }
  .stats__header {
    width: 240px;
    min-height: 318px;
    float: left;
    padding-right: 40px;
    padding-left: 40px;
  }
  .stats__items {
    float: right;
    width: 640px;
  }
}
