.page-header{
  min-height: 390px;
}


@media (min-width: 768px) {
  .page-header {
    position: relative;
    min-height: 70px;
    padding-bottom: 400px;
  }
}

@media (min-width: 1200px) {
  .page-header {
    padding-bottom: 650px;
  }
}




.page-header__logo {
  min-height: 85px;
  background: rgba(255, 255, 255, 0.4);
}

@media (min-width: 768px) {
  .page-header__logo {
    position: absolute;
    bottom: 0;
    height: 400px;
    width:inherit;
  }
}

@media (min-width: 1200px) {
  .page-header__logo {
    position: absolute;
    bottom: 0;
    height: 650px;
    width:inherit;
  }
}
